<div class="navbar-inner" >
  <div class="left"><a href="#" class="back link"><i class="icon icon-back-blue"></i><span>Cancel</span></a></div>
  <div class="center sliding">Task</div>
  <div class="right"><a href="#" class="link" ng-click="update()">Save</a></div>
</div>

<div data-page="task-form" class="page no-toolbar">
  <div class="page-content">
    <div class="content-block-title">Task definition</div>
    <form name="taskForm" ng-submit="update()" class="list-block" novalidate>
      <ul>

        <li class="align-top">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <textarea placeholder="Task name" name="taskName" ng-model="formData.name" required></textarea>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title label">Date</div>
              <div class="item-input">
                <input name="date" type="date" ng-model="formData.date">
              </div>
            </div>
          </div>
        </li>

        <li>
          <a href="#" class="item-link smart-select">
            <select name="priority"
                    ng-model="formData.priority"
                    ng-options="priority.value as priority.name for priority in priorities">
            </select>

            <div class="item-content">
              <div class="item-inner">
                <div class="item-title">Priority</div>
                <div class="item-after">{{formData.priority | priority}}</div>
              </div>
            </div>
          </a>
        </li>


        <li class="align-top">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <textarea ng-model="formData.description" placeholder="Notes"></textarea>
              </div>
            </div>
          </div>
        </li>

      </ul>

    </form>

    <div class="content-block row">
      <div class="col-50" ng-if="!isNew">
        <a href="#" ng-click="remove(task)" class="button button-big button-cancel">Delete</a>
      </div>
      <div class="col-50" ng-if="!formData.completed && !isNew">
        <a href="#" ng-click="complete(task)" class="button button-big button-submit">Complete</a>
      </div>
      <div class="col-50" ng-if="formData.completed && !isNew">
        <a href="#" ng-click="complete(task)" class="button button-big button-submit">Activate</a>
      </div>
    </div>

  </div>

</div>
