<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <title>My App</title>

  <link rel="stylesheet" href="../lib/framework7/dist/css/framework7.css">
  <link rel="stylesheet" href="css/app.css">

  <!-- Favicon-->
  <link href="../common/img/icon-57.png" rel="shortcut icon">
  <!-- iOS 7 iPad (retina) -->
  <link href="../common/img/icon-152.png" sizes="152x152" rel="apple-touch-icon">
  <!-- iOS 6 iPad (retina) -->
  <link href="../common/img/icon-144.png" sizes="144x144" rel="apple-touch-icon">
  <!-- iOS 7 iPhone (retina) -->
  <link href="../common/img/icon-120.png" sizes="120x120" rel="apple-touch-icon">
  <!-- iOS 6 iPhone (retina) -->
  <link href="../common/img/icon-114.png" sizes="114x114" rel="apple-touch-icon">
  <!-- iOS 7 iPad -->
  <link href="../common/img/icon-76.png" sizes="76x76" rel="apple-touch-icon">
  <!-- iOS 6 iPad -->
  <link href="../common/img/icon-72.png" sizes="72x72" rel="apple-touch-icon">
  <!-- iOS 6 iPhone -->
  <link href="../common/img/icon-57.png" sizes="57x57" rel="apple-touch-icon">
</head>

<body>

<!--------------------  Status Bar Overlay  -------------------->

<div class="statusbar-overlay"></div>

<!--------------------  Panels Overlay  -------------------->

<div class="panel-overlay"></div>


<!--------------------  Side Drawer Menu  -------------------->


<div class="panel panel-left panel-reveal">

  <div class="content-block-title" style="color:white">Left Panel</div>
  <div class="content-block">
    <p>This is a side panel. You can close it by clicking outsite or on this link: <a href="#" class="close-panel">close
      me</a></p>
  </div>
  <div class="content-block-title">Framework7 Kitchen Sink</div>
  <div class="list-block">
    <ul>
      <li>
        <a href="#tasks-view" class="close-panel tab-link">
          <div class="item-content">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Tasks</div>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="#notification-view" class="close-panel tab-link">
          <div class="item-content">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Test</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="content-block">
    <p>Long text block goes here. Lorem ipsum dolor sit amet. </p>
  </div>

</div>

<!--------------------  Views  -------------------->

<div class="views tabs">

  <!--------------------  Tasks View  -------------------->

  <div id="tasks-view" class="view view-main tab active" ng-controller="TaskListController">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="open-panel link icon-only">
            <i class="icon icon-bars-blue"></i>
          </a>
        </div>
        <div class="center buttons-row" on-change="changePeriod(index)">
          <a href="#" class="button">Today</a>
          <a href="#" class="button">Week</a>
          <a href="#" class="button active">All</a>
        </div>
        <div class="right">
          <a href="partials/task-form.html" class="link icon-only" ng-click="">
            <i class="icon icon-plus">+</i>
          </a>
        </div>
      </div>
    </div>

    <div class="pages navbar-through">
      <div data-page="task-list" class="page">

        <div class="page-content pull-to-refresh-content">

          <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
          </div>

          <div ng-show="filteredTasks.length<=0" class="content-block-title">Task list</div>
          <div ng-show="filteredTasks.length<=0" class="content-block">
            <div class="content-block-inner">
              <p>Total elements : {{ tasks.length}}, visible elements : {{filteredTasks.length}}</p>

              <p>To populate database just swipe down to refresh list and/or change filter.</p>
            </div>
          </div>

          <div class="list-block media-list sortable" ng-show="filteredTasks.length>0">
            <ul>

              <li ng-repeat="task in filteredTasks = (tasks | dateUntil: period | orderBy: order | groupBy: group) track by task._id "
                  class="swipeout">

                <div ng-if="task.groupHeader" class="list-group-title">{{task.groupHeader}}</div>

                <a href="partials/task-form.html" class="item-link item-content swipeout-content">

                  <div class="stripe" style="background-color: {{task.priority | color}}"></div>

                  <div class="item-inner" ng-if="!task.completed">
                    <div class="item-title-row">
                      <div class="item-title">{{task.name}}</div>
                      <div class="item-after">{{task.date | date:'MMM d, y'}}</div>
                    </div>
                    <div class="item-subtitle">

                    </div>
                    <div class="item-text">{{task.description}}</div>
                  </div>

                  <div class="item-inner completed" ng-if="task.completed">
                    <div class="item-title">{{task.name}}</div>
                    <div class="item-text">{{task.description}}</div>
                  </div>

                </a>

                <div class="swipeout-actions">
                  <div class="swipeout-actions-inner">
                    <a href="#" ng-click="actions(task)">More</a>
                    <a href="#" class="swipeout-delete" ng-click="remove(task)">Delete</a>
                  </div>
                </div>

              </li>

            </ul>


          </div>
        </div>


        <div class="toolbar">
          <div class="toolbar-inner">
            <a href="#" data-popover=".popover-links" class="link open-popover">Sort</a>
          </div>
        </div>



      </div>
    </div>

  </div>

  <div id="notification-view" class="view tab" ng-init="message = 'Hello!'">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="open-panel link icon-only">
            <i class="icon icon-bars-blue"></i>
          </a>
        </div>
        <div class="center sliding">Notifications</div>
      </div>
    </div>

    <div class="pages navbar-through">
      <div data-page="notifications" class="page">

        <div class="page-content">
          {{message}}
        </div>
      </div>
    </div>

  </div>
</div>

<div class="popover popover-links">
  <div class="popover-angle on-bottom"></div>
  <div class="popover-inner">
    <div class="list-block">
      <ul>
        <li><a href="#" class="list-button item-link" ng-click="$broadcast('changeOrder','+name')">Sort by name</a></li>
        <li><a href="#" class="list-button item-link" ng-click="$broadcast('changeOrder','+date')">Sort by date</a></li>
        <li><a href="#" class="list-button item-link" ng-click="$broadcast('changeOrder','+priority')">Sort by priority</a></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>

<!--------------------  Scripts  -------------------->

<script src="../lib/angular/angular.js"></script>
<script src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../lib/chance/chance.js"></script>
<script src="../lib/pouchdb/dist/pouchdb-nightly.js"></script>

<script src="../common/js/filters.js"></script>
<script src="../common/js/pouchdb.js"></script>
<script src="../common/js/services.js"></script>

<script src="../lib/framework7/dist/js/framework7.js"></script>
<script src="js/framework7-ext.js"></script>

<script src="js/tasks.js"></script>
<script src="js/app.js"></script>


</body>
</html>