<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <title>My App</title>

  <link rel="stylesheet" href="../lib/framework7/dist/css/framework7.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body>

<!--------------------  Status Bar Overlay  -------------------->

<div class="statusbar-overlay"></div>

<!--------------------  Panels Overlay  -------------------->

<div class="panel-overlay"></div>


<!--------------------  Side Drawer Menu  -------------------->


<div class="panel panel-left panel-reveal">

  <div class="content-block-title" style="color:white">Left Panel</div>
  <div class="content-block">
    <p>This is a side panel. You can close it by clicking outsite or on this link: <a href="#" class="close-panel">close
      me</a></p>
  </div>
  <div class="content-block-title">Framework7 Kitchen Sink</div>
  <div class="list-block">
    <ul>
      <li>
        <a href="#tasksView" class="close-panel tab-link">
          <div class="item-content">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Tasks</div>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="#notificationView" class="close-panel tab-link">
          <div class="item-content">
            <div class="item-media"><i class="icon icon-f7"></i></div>
            <div class="item-inner">
              <div class="item-title">Test</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="content-block">
    <p>Long text block goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  </div>

</div>

<!--------------------  Popover  -------------------->

<div class="popover popover-menu" style="width: 100px">
  <div class="popover-angle on-top"></div>
  <div class="popover-inner">
    <div class="list-block">
      <ul>
        <li><a href="#" class="list-button item-link">One</a></li>
        <li><a href="#" class="list-button item-link">Two</a></li>
        <li><a href="#" class="list-button item-link">Three</a></li>
      </ul>
    </div>
  </div>
</div>

<!--------------------  Views  -------------------->

<div class="views toolbar-through tabs">

  <!--------------------  Tasks View  -------------------->

  <div id="tasksView" class="view view-main tab active" dynamic-navbar="true">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="open-panel link icon-only">
            <i class="icon icon-bars-blue"></i>
          </a>
        </div>
        <div class="center sliding">Tasks [{{tasks.length}}]</div>
        <div class="right">
          <a href="#" class="link" ng-click="populate()">Populate</a>
        </div>
      </div>
    </div>

    <div class="pages navbar-through">
      <div data-page="task-list" class="page">

        <div class="page-content">
          <div class="list-block media-list sortable">
            <ul>

              <li ng-repeat="task in tasks | dateUntil: period | orderBy: order | groupBy:group | limitTo: 100 track by task._id "
                  class="swipeout">

                <div ng-if="task.groupHeader" class="list-group-title">{{task.groupHeader}}</div>

                <a href="partials/task-form.html" class="item-link item-content swipeout-content">

                  <div class="stripe" style="background-color: {{task.priority | color}}"></div>

                  <div class="item-inner" ng-if="!task.completed">
                    <div class="item-title-row">
                      <div class="item-title">{{task.name}}</div>
                      <div class="item-after">{{task.date | date:'MMM d, y'}}</div>
                    </div>
                    <div class="item-subtitle">
                      Worked : {{ task.worked }} hours, to complete: {{task.toComplete}}, isCompleted:
                      {{task.completed}}
                    </div>
                    <div class="item-text">{{task.description}}</div>
                  </div>

                  <div class="item-inner completed" ng-if="task.completed">
                    <div class="item-title">{{task.name}}</div>
                    <div class="item-text">{{task.description}}</div>
                  </div>

                </a>

                <div class="swipeout-actions">
                  <div class="swipeout-actions-inner">
                    <a href="#" ng-click="actions(task)">More</a>
                    <a href="#" class="swipeout-delete" ng-click="remove(task, $index)">Delete</a>
                  </div>
                </div>

              </li>

            </ul>

            <div class="list-block-label">
              <p>Task list : {{ tasks.length}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="notificationView" class="view tab" dynamic-navbar="true">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="open-panel link icon-only">
            <i class="icon icon-bars-blue"></i>
          </a>
        </div>
        <div class="center sliding">Notifications</div>
      </div>
    </div>

    <div class="pages navbar-through">
      <div data-page="notifications" class="page">

        <div class="page-content">
          {{message}}
        </div>
      </div>
    </div>

  </div>

  <!--------------------  Scripts  -------------------->

  <script src="../lib/angular/angular.js"></script>
  <script src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../lib/chance/chance.js"></script>
  <script src="../lib/pouchdb/dist/pouchdb-nightly.js"></script>

  <script src="../common/js/filters.js"></script>
  <script src="../common/js/pouchdb.js"></script>
  <script src="../common/js/services.js"></script>

  <script src="../lib/framework7/dist/js/framework7.js"></script>
  <script src="js/framework7-ext.js"></script>

  <script src="js/tasks.js"></script>
  <script src="js/app.js"></script>


</body>
</html>